@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/poppins-v15-latin-300.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-300.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-500.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-600.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-700.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/poppins-v15-latin-900.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-900.woff') format('woff');
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	text-decoration: none;
	font-family: "Poppins";
}

.container {
	width: 1100px;
	margin: 0 auto;
}

// START HEADER STYLES

.site-header {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	background-color: transparent;

	.header-cont {
		width: 95%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.header-nav {
	display: flex;
	align-items: center;
	text-transform: capitalize;

	.nav-item {
		list-style-type: none;
		padding: 0;
		display: flex;
		align-items: center;
		width: 268px;
		justify-content: space-between;
		margin-right: 38px;

		.nav-list {
			cursor: pointer;
			position: relative;

			.navLink {
				display: flex;
				position: relative;
				color: black;
				font-size: 16px;
				line-height: 19px;
				padding: 10px;
				align-items: center;
				justify-content: center;
				border-bottom: 2px solid transparent;
				transition: background-color 0.3s ease, color 0.3s ease;

				img {
					margin-left: 10px;
					transition: transform 0.3s ease;
				}
			}
			.nav-active {
				color: #5454d4;
				border-bottom: 2px solid transparent;

				.white-play {
					position: absolute;
					left: 66px;
					height: 0;
				}
			}

			.drop-item {
				position: absolute;
				width: 260px;
				list-style-type: none;
				padding: 0;
				top: 41.5px;
				height: 0;
				transition: padding-top 0.5s ease;

				.drop-list {
					padding: 0;
					transition: padding 0.5s ease;

					a {
						display: flex;
						align-items: center;
						color: transparent;
						font-size: 0;
						transition: color 0.5s ease;

						img {
							margin-left: 10px;
							height: 0px;
						}
					}
				}

				.drop-active {
					.drop-item2 {
						position: absolute;
						width: 240px;
						list-style-type: none;
						padding: 0;
						top: 50px;
						left: -94%;
						height: 0;
						transition: padding-top 0.5s ease;

						.drop-list2 {
							padding: 0;
							transition: padding 0.5s ease;

							a {
								display: flex;
								align-items: center;
								color: transparent;
								font-size: 0;
								transition: color 0.5s ease;
							}
						}
					}
				}
			}
		}

		.nav-list:hover {
			.navLink {
				img {
					transform: rotate(90deg);
					height: 0;
				}
				background-color: black;
				color: white;
			}

			.nav-active {
				background-color: #5454d4;

				.white-play {
					display: block;
					height: 12px;
				}
			}

			.drop-item {
				height: auto;
				background-color: #fff;
				border: 1px solid #eae9f2;
				border-radius: 0px 0px 10px 10px;
				border-top: 3px solid #5454d4;
				padding: 18px 0;
				box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);

				.drop-list {
					padding: 8px 21px;

					a {
						color: black;
						font-size: 16px;

						img {
                     height: 12px;
                     transition: transform 0.3s ease;
						}
					}
            }
            
            .drop-active{
               a{
                  color:#5454d4 ;
               }
            }

				.drop-active:hover {

               a {
                  img{
                     transform: rotate(90deg);
                  }
               }
					.drop-item2 {
						height: auto;
						background-color: #fff;
						border: 1px solid #eae9f2;
						border-radius: 0px 0px 10px 10px;
						border-top: 3px solid #f04037;
						padding: 18px 0;
                  box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);
                  
                  .drop-list2{
                     padding: 8px 21px;

                    
                     a {
                        color: black;
                        font-size: 16px;
                     }
                     .active{
                        color: #5454d4;
                     }
                    
                  }
               }
               
              
				}
			}
		}
	}

	.get-start {
		display: flex;
		align-items: center;
		width: 141px;
		height: 45px;
		justify-content: center;
		background-color: #f04037;
		border-radius: 5px;
		color: white;
		transition: background-color 0.3s ease;
	}

	.get-start:hover {
		background-color: #bd160d;
	}
}
