@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/poppins-v15-latin-300.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-300.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-500.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-600.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-700.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/poppins-v15-latin-900.woff2') format('woff2'),
		url('../fonts/poppins-v15-latin-900.woff') format('woff');
}

$text-color: #696871;
$heading-color: #000;
$active-color: #5454d4;
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	text-decoration: none;
	font-family: "Poppins";
}

body {
	margin: 0;
	padding: 0;
}
.container {
	width: 1100px;
	margin: 0 auto;
}

// START HEADER STYLES

.site-header {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	z-index: 10;
	background-color: transparent;
	transition: background-color 0.5s ease, box-shadow 0.3s ease;

	.header-cont {
		max-width: 1920px;
		padding: 0 40px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.bg {
	background-color: white;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.445);
}

.header-nav {
	display: flex;
	align-items: center;
	text-transform: capitalize;

	.nav-item {
		list-style-type: none;
		padding: 0;
		display: flex;
		align-items: center;
		width: 268px;
		justify-content: space-between;
		margin-right: 38px;

		.nav-list {
			cursor: pointer;
			position: relative;

			.navLink {
				display: flex;
				position: relative;
				color: black;
				font-size: 16px;
				line-height: 19px;
				padding: 10px;
				align-items: center;
				justify-content: center;
				border-bottom: 2px solid transparent;
				transition: background-color 0.3s ease, color 0.3s ease;

				img {
					margin-left: 10px;
					transition: transform 0.3s ease;
				}
			}
			.nav-active {
				color: $active-color;
				border-bottom: 2px solid transparent;

				.white-play {
					position: absolute;
					left: 66px;
					height: 0;
				}
			}

			.drop-item {
				position: absolute;
				width: 260px;
				list-style-type: none;
				padding: 0;
				top: 41.5px;
				height: 0;
				transition: padding-top 0.5s ease;

				.drop-list {
					padding: 0;
					transition: padding 0.5s ease;

					a {
						display: flex;
						align-items: center;
						color: transparent;
						font-size: 0;
						transition: color 0.5s ease;

						img {
							margin-left: 10px;
							height: 0px;
						}
					}
				}

				.drop-active {
					.drop-item2 {
						position: absolute;
						width: 240px;
						list-style-type: none;
						padding: 0;
						top: 70px;
						left: -94%;
						height: 0;
						transition: padding-top 0.5s ease;

						.drop-list2 {
							padding: 0;
							transition: padding 0.5s ease;

							a {
								display: flex;
								align-items: center;
								color: transparent;
								font-size: 0;
								transition: color 0.5s ease;
							}
						}
					}
				}
			}
		}

		.nav-list:hover {
			.navLink {
				img {
					transform: rotate(90deg);
					height: 0;
				}
				background-color: black;
				color: white;
			}

			.nav-active {
				background-color: $active-color;

				.white-play {
					display: block;
					height: 12px;
				}
			}

			.drop-item {
				height: auto;
				background-color: #fff;
				border: 1px solid #eae9f2;
				border-radius: 0px 0px 10px 10px;
				border-top: 3px solid $active-color;
				padding: 18px 0;
				box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);

				.drop-list {
					padding: 8px 21px;

					a {
						color: black;
						font-size: 16px;

						img {
							height: 12px;
							transition: transform 0.3s ease;
						}
					}
				}

				.drop-active {
					a {
						color: #5454d4;
					}
				}

				.drop-active:hover {
					a {
						img {
							transform: rotate(90deg);
						}
					}
					.drop-item2 {
						height: auto;
						background-color: #fff;
						border: 1px solid #eae9f2;
						border-radius: 0px 0px 10px 10px;
						border-top: 3px solid #f04037;
						padding: 18px 0;
						box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);

						.drop-list2 {
							padding: 8px 21px;

							a {
								color: black;
								font-size: 16px;
							}
							.active {
								color: $active-color;
							}
						}
					}
				}
			}
		}
	}
}

.get-start {
	display: flex;
	align-items: center;
	width: 141px;
	height: 45px;
	justify-content: center;
	background-color: #f04037;
	border-radius: 5px;
	text-transform: capitalize;
	color: white;
	transition: background-color 0.3s ease;
}

.get-start:hover {
	background-color: #bd160d;
}

.site-main {
	background-image: url('../images/oval.svg');
	background-size: 672px;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0.1px;
}

.getStart {
	margin-top: 120px;
}

.getstart-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.getStart-info {
	h1 {
		font-size: 80px;
		line-height: 84px;
		color: $heading-color;
		width: 690px;
		margin: 0;
	}

	p {
		font-size: 20px;
		line-height: 37px;
		color: $text-color;
		width: 570px;
		margin-top: 25px;
		margin-bottom: 35px;
	}

	.get-start {
		width: 200px;
		height: 60px;
		background-color: #f0544c;
		font-size: 21px;
		line-height: 25px;
		transition: background-color 0.3s ease;
	}

	.get-start:hover {
		background-color: #f04037;
	}

	.watch {
		font-size: 16px;
		line-height: 19px;
		color: $active-color;
		display: flex;
		align-items: center;
		margin-top: 15px;

		img {
			margin-right: 8px;
		}
	}
}

.getStart-mobile {
	position: relative;

	.mobile-text {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		border-radius: 5px;
		width: 320px;
		padding: 13px;

		.check-box {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			margin-right: 13px;
		}

		p {
			display: inline-block;
			font-size: 15px;
			line-height: 19px;
			margin: 0;
			font-weight: 500;
			margin: 0;
			padding: 0;
		}
	}
	.mobile-blue {
		background-color: $active-color;
		color: white;
		top: 110px;
		left: -100px;

		.check-box {
			background-color: #fedc5a;
		}
	}
	.mobile-gold {
		position: absolute;
		left: 130px;
		top: 460px;
		background-color: #fedc5a;

		.check-box {
			background-color: $active-color;
		}

		p {
			width: 230px;
		}
	}
}
.popularLinks {
	position: relative;
}
.popular-line {
	p {
		font-size: 18px;
		line-height: 28px;
		color: $text-color;
		display: flex;
		align-items: center;
	}
	p::after {
		content: "";
		height: 2px;
		width: 55vw;
		background-color: #eae9f2;
		position: absolute;
		right: 0;
	}
}

.popular-item {
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.perfect {
	position: relative;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background-color: $active-color;
	background-image: url('../images/bggold.svg');
	background-position: top right;
	background-repeat: no-repeat;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-top: 60px;

	.svg {
		position: absolute;
		bottom: -10px;
	}
}

.perfect-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
}

.perfect-item {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	.perfect-link {
		display: flex;
		flex-direction: column;
		width: 255px;
		height: 257px;
		background-color: white;
		border-radius: 7px;
		margin: 15px;
		padding: 20px;
		transition: box-shadow 0.3s ease;

		h1 {
			font-size: 24px;
			line-height: 28px;
			color: $heading-color;
			margin: 0;
			margin-top: 23px;
			margin-bottom: 13px;
		}

		p {
			font-size: 15px;
			line-height: 25px;
			color: $text-color;
			margin: 0;
		}
	}

	.perfect-link:hover {
		box-shadow: 0 0px 10px 7px rgb(200, 206, 207);
	}
}

.perfect-info {
	color: white;
	margin: 0;
	h1 {
		font-size: 50px;
		line-height: 70px;
		margin: 0;
		width: 515px;
	}

	p {
		font-size: 19px;
		line-height: 35px;
		width: 515px;
	}

	a {
		border: 1px solid #eae9f2;
		border-radius: 5px;
		color: white;
		padding: 15px 22px;
		display: inline-block;
		margin-top: 10px;
		font-weight: 500;
		transition: background-color 0.4s ease, color 0.4s ease;
	}

	a:hover {
		background-color: white;
		color: $active-color;
	}
}

// end perfect styles

.customer-box {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 55px;
		line-height: 70px;
		color: $heading-color;
		text-align: center;
		width: 540px;
	}

	a{
		margin-top: 30px;
		color: $active-color;
		display: flex;
		align-items: center;

		img{
			margin-right: 10px;
		}
	}
}

.customer-item {
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style-type: none;
	padding: 0;

	.customer-list {
		a {
			background: #ffffff;
			border: 1px solid #eae9f2;
			border-radius: 10px;
			width: 320px;
			height: 252px;
			display: inline-block;
			padding: 25px;
			transition: box-shadow 0.3s ease;

			.nike-name {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.nike-info {
					display: flex;
					flex-direction: column;

					h4 {
						color: $heading-color;
						margin: 0;
					}

					p {
						margin: 0;
						color: $text-color;
						font-size: 14px;
						line-height: 20px;
					}
				}
			}

			p {
				font-size: 18px;
				line-height: 30px;
				color:  $heading-color;
				margin-top: 25px;

				span{
					color: $active-color;
				}
			}
		}

		a:hover{
			box-shadow: 0 0 10px 3px rgba(65, 62, 101, 0.296766);
		}
	}
}
