@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v15-latin-300.woff2") format("woff2"), url("../fonts/poppins-v15-latin-300.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v15-latin-600.woff2") format("woff2"), url("../fonts/poppins-v15-latin-600.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../fonts/poppins-v15-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v15-latin-900.woff2") format("woff2"), url("../fonts/poppins-v15-latin-900.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  font-family: "Poppins";
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.site-header {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background-color: transparent;
}

.site-header .header-cont {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.header-nav .nav-item {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 268px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 38px;
}

.header-nav .nav-item .nav-list {
  cursor: pointer;
  position: relative;
}

.header-nav .nav-item .nav-list .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: black;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-nav .nav-item .nav-list .navLink img {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-nav .nav-item .nav-list .nav-active {
  color: #5454d4;
  border-bottom: 2px solid transparent;
}

.header-nav .nav-item .nav-list .nav-active .white-play {
  position: absolute;
  left: 66px;
  height: 0;
}

.header-nav .nav-item .nav-list .drop-item {
  position: absolute;
  width: 260px;
  list-style-type: none;
  padding: 0;
  top: 41.5px;
  height: 0;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}

.header-nav .nav-item .nav-list .drop-item .drop-list {
  padding: 0;
  -webkit-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
}

.header-nav .nav-item .nav-list .drop-item .drop-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: transparent;
  font-size: 0;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.header-nav .nav-item .nav-list .drop-item .drop-list a img {
  margin-left: 10px;
  height: 0px;
}

.header-nav .nav-item .nav-list .drop-item .drop-active .drop-item2 {
  position: absolute;
  width: 240px;
  list-style-type: none;
  padding: 0;
  top: 70px;
  left: -94%;
  height: 0;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}

.header-nav .nav-item .nav-list .drop-item .drop-active .drop-item2 .drop-list2 {
  padding: 0;
  -webkit-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
}

.header-nav .nav-item .nav-list .drop-item .drop-active .drop-item2 .drop-list2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: transparent;
  font-size: 0;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.header-nav .nav-item .nav-list:hover .navLink {
  background-color: black;
  color: white;
}

.header-nav .nav-item .nav-list:hover .navLink img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 0;
}

.header-nav .nav-item .nav-list:hover .nav-active {
  background-color: #5454d4;
}

.header-nav .nav-item .nav-list:hover .nav-active .white-play {
  display: block;
  height: 12px;
}

.header-nav .nav-item .nav-list:hover .drop-item {
  height: auto;
  background-color: #fff;
  border: 1px solid #eae9f2;
  border-radius: 0px 0px 10px 10px;
  border-top: 3px solid #5454d4;
  padding: 18px 0;
  -webkit-box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);
          box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-list {
  padding: 8px 21px;
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-list a {
  color: black;
  font-size: 16px;
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-list a img {
  height: 12px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-active a {
  color: #5454d4;
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-active:hover a img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-active:hover .drop-item2 {
  height: auto;
  background-color: #fff;
  border: 1px solid #eae9f2;
  border-radius: 0px 0px 10px 10px;
  border-top: 3px solid #f04037;
  padding: 18px 0;
  -webkit-box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);
          box-shadow: 0px 2px 10px rgba(65, 62, 101, 0.296766);
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-active:hover .drop-item2 .drop-list2 {
  padding: 8px 21px;
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-active:hover .drop-item2 .drop-list2 a {
  color: black;
  font-size: 16px;
}

.header-nav .nav-item .nav-list:hover .drop-item .drop-active:hover .drop-item2 .drop-list2 .active {
  color: #5454d4;
}

.header-nav .get-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 141px;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f04037;
  border-radius: 5px;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header-nav .get-start:hover {
  background-color: #bd160d;
}
/*# sourceMappingURL=style.css.map */